$breakpoint-tablet: 768px;
$breakpoint-mobile: 375px;
$breakpoint-sm-mobile: 320px;
.meer-signup-w {
  // signup
  .meer-signup-c:nth-child(1) {
    align-items: flex-end;
    @media screen and (max-width: $breakpoint-tablet) {
      align-items: center;
    }
  }
  .meer-signup-c:nth-child(2) {
    align-items: center;
    @media screen and (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  .meer-signup-c {
    .signup-input-w {
      .signup-input-c {
        // signup
        .name, .re-password {
          color: rgb(160, 160, 160);
        }
      }
      // signup
      .signup-policy-c {
        padding: 20px 0;
        input[type=checkbox] {
          transform: scale(1.5);
          padding: 10px;
          margin-right: 20px;
          @media screen and (max-width: $breakpoint-mobile) {
            padding: 10px;
            margin-right: 10px;
            transform: scale(1);
          }
        }
        span {
          font-size: 1.1rem;
          a {
            color: #5D5D5D !important;
            transition: color .5s;
          }
          a:hover {
            color: #000 !important;
          }
          a:visited {
            color: #5D5D5D;
          }
          a:active {
            color: #5D5D5D;
          }
          @media screen and (max-width: $breakpoint-mobile) {
            font-size: .6rem;
          }
        }
      }
    }
  }
}