$breakpoint-tablet: 768px;
$breakpoint-mobile: 375px;
$breakpoint-sm-mobile: 320px;
.meer-signin-w {
  .meer-signin-c:nth-child(1) {
    align-items: center;
    @media screen and (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  .meer-signin-c:nth-child(2) {
    @media screen and (max-width: $breakpoint-tablet) {
      align-items: center;
    }
  }
}